.friendList {
  display: grid;
  justify-content: center;
  padding: 10px;
  width: 570px;
  height: 100%;
  background-color: #eff3f5;
}
.item {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  height: 100px;
  list-style: none;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 4px 8px 35px 0 rgba(166, 196, 219, 0.41);
}
.status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 30px 15px;
}
.avatar {
  width: 70px;
  border: 1px solid #c1e0f3;
  border-radius: 10%;
}
.name {
  font-size: 24px;
  font-weight: 600;
  color: #4b2746;
  text-align: center;
  margin-left: 30px;
  display: block;
}
