.statistics {
  padding: 10px;
  width: 570px;
  background-color: #e3f2f7;
}
.title {
  width: 300px;
  height: 100%;
  padding: 30px;
  margin: 15px auto 0;
  background: #fff;
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: #4b2746;
  text-align: center;
}
.statList {
  display: flex;
  justify-content: space-between;
  width: 300px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4);
  padding: 10px;
  text-align: center;
}
.label {
  margin-bottom: 10px;
  font-size: 14px;
  color: #735b5b;
}
.percentage {
  color: #4b2746;
  font-weight: 600;
}
